.kl-header-slider img {
    width: 100%;
    height: 470px;
}

.kl-navbar {
    background: #2B2B2B;
    margin-top: -20px;
}

.kl-navbar ul {
    margin-left: 5%;
}

.kl-navbar ul li {
    width: 120px;
    text-align: center;
}

.kl-footer {
    width: 100%;
    height: 100px;
    background: #2B2B2B;
    padding: 25px 0 0 76px;
    color: #fff;
    font-size: 14px;
}

.kl-footer a {
    color: #fff;
    margin-right: 5px;
    margin-left: 5px;
}


/*page/goto.html*/
.am-popup-bd pre {
    font-size: 20px;
}

.am-popup-bd p {
    font-weight: 20px;
}

.am-popup-bd img {
    width:100%;
}

.map-header {
    width: 480px;
    height: 45px;
    border-bottom: 1px solid #000;
    margin-left: 75px;
    margin-bottom: 20px;
}

.map-header-title {
    width: 142px;
    height: 45px;
    background: #2B2B2B;
    color: #fff;
    padding: 10px 10px;
}

.kl-goto-header img {
    margin: -17px 0 20px 74px;
}

.info-header {
    width: 210px;
    height: 45px;
    border-bottom: 1px solid #000;
    margin-right: 70px;
}

.info-header-title {
    width: 116px;
    height: 45px;
    background: #2B2B2B;
    color: #fff;
    padding: 10px 10px;
}

.kl-goto-info li {
    font-size: 20px;
}



/*page/onroad.html*/

.kl-onroad-header,
.kl-talking-header,
.kl-share-header,
.kl-contract-header {
    width: 80%;
    height: 45px;
    border-bottom: 1px solid #000;
    margin-left: 20px;
}

.kl-onroad-title,
.kl-talking-title,
.kl-share-title,
.kl-contract-title {
    width: 94px;
    height: 45px;
    background: #2B2B2B;
    color: #fff;
    padding: 10px 10px;
}

.kl-onroad li,
.kl-talking li,
.kl-share li,
.kl-contract li {
    font-size: 20px;
    margin-left: 1%;
}


/*page/talking.html*/

.kl-talking li,
.kl-contract li {
    list-style: none;
    margin-left: 5px;
}

